nav>.nav.nav-tabs {
	border: none;
	color: #fff;
	background: #272e38;
	border-radius: 0;
}

nav>div a.nav-item.nav-link, nav>div a.nav-item.nav-link.active {
	border: none;
	padding: 18px 25px;
	color: #fff;
	background: #272e38;
	border-radius: 0;
}


.imgCenter{
	
	
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

.modal-content{
	background-color: #a2d58ceb !important;
}

#messagesList {
	width: 100% ;
	padding-left: 0 ;
}

.input {
	width: 100%;
	color: #fff;
	display: block;
	border: none;
	padding: 15px 60px;
	border-radius: 25px;
	background: rgba(22, 45, 66, 0.86);
}

#loadingImg{
	
	width:100%;
	
}

.modal-body h1{
	
	font-size: 4.5rem;
}

#parkNowButton {
	background-color: #2940b9c9;
	color: yellow;
}

#scheduleButton {
	background-color: #c5df10de;
	color: black;
}

.input-group {
	z-index: 10 !important;
	top: -8px;
}

.fas.fa-search {
	cursor: pointer;
}

#map {
	position: relative;
	top: -69px;
	width: 100%;
	height: 700px !important;
}

.input-group-prepend {
	position: absolute;
	margin: 11px;
}

.input-group-prepend span {
	border-radius: 50px !important;
	background-color: #e9ece200 !important;
	color: #b7b722;
}

.tab-content {
	background: #171111ed;
	line-height: 25px;
	border: 1px solid #ddd;
	border-top: 5px solid #e74c3c;
	border-bottom: 5px solid #e74c3c;
	padding: 30px 25px;
	color: white;
}

.H_ib_body {
	background: #1a5518d6;
	position: absolute;
	bottom: .5em;
	padding: 0;
	right: 0px;
	border-radius: 27px;
	margin-right: -3em;
	box-shadow: 0px 0 4px 0 rgba(15, 22, 33, 0.6);
	margin-bottom: 0.5em;
	width: 142px;
}

.H_ib_content {
	color: rgb(255, 255, 255);
}

.H_ib_content a {
	color: #f0e209;
}

nav>div a.nav-item.nav-link:hover, nav>div a.nav-item.nav-link:focus {
	border: none;
	background: #e74c3c;
	color: #fff;
	border-radius: 0;
	transition: background 0.20s linear;
}

body {
	background: #f5f5f5;
	margin-top: 20px;
}

.btn-light {
	border-radius: 20px !important;
}
/* ===== Career ===== */
.career-form {
	background-color: #4e63d7;
	border-radius: 5px;
	padding: 0 16px;
}

.career-form .form-control {
	background-color: rgba(255, 255, 255, 0.2);
	border: 0;
	padding: 12px 15px;
	color: #fff;
}

.career-form .form-control::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #fff;
}

.career-form .form-control::-moz-placeholder {
	/* Firefox 19+ */
	color: #fff;
}

.career-form .form-control:-ms-input-placeholder {
	/* IE 10+ */
	color: #fff;
}

.career-form .form-control:-moz-placeholder {
	/* Firefox 18- */
	color: #fff;
}

.career-form .custom-select {
	background-color: rgba(255, 255, 255, 0.2);
	border: 0;
	padding: 12px 15px;
	color: #9d0e0e;
	width: 100%;
	border-radius: 5px;
	text-align: left;
	height: auto;
	background-image: none;
}

.career-form .custom-select:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.career-form .select-container {
	position: relative;
}

.filter-result .job-box {
	-webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
	box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
	border-radius: 10px;
	padding: 10px 35px;
	text-align: center;
}

ul {
	list-style: none;
}

.list-disk li {
	list-style: none;
	margin-bottom: 12px;
}

.list-disk li:last-child {
	margin-bottom: 0;
}

.job-box .img-holder {
	height: 65px;
	width: 65px;
	background-color: #4e63d7;
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9
		)), to(#5a85dd));
	background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%,
		#5a85dd 100%);
	font-family: "Open Sans", sans-serif;
	color: #fff;
	font-size: 22px;
	font-weight: 700;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 65px;
}

.career-title {
	background-color: #4e63d7;
	color: #fff;
	padding: 15px;
	text-align: center;
	border-radius: 10px 10px 0 0;
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9
		)), to(#5a85dd));
	background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%,
		#5a85dd 100%);
}

.job-overview {
	-webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
	box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
	border-radius: 10px;
}


.funkyradio div {
	clear: both;
	overflow: hidden;
}

.funkyradio{
	width:45%;
}

.funkyradio label {
	width: 100%;
	border-radius: 3px;
	border: 1px solid rgba(22, 45, 66, 0.86);
	background: rgba(138, 190, 238, 0.86); border-radius : 20px;
	font-weight: normal;
	border-radius: 20px;
}

.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty
	{
	display: none;
}

.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty 
	~ label {
	position: relative;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty 
	~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 20px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) 
	~ label {
	color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
	.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
	content: '\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked 
	~ label {
	color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked 
	~ label:before {
	content: '\2714';
	text-indent: .9em;
	color: #333;
	background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus 
	~ label:before {
	box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
	.funkyradio-default input[type="checkbox"]:checked ~ label:before {
	color: #333;
	background-color: #ccc;
}

@media ( min-width : 992px) {
	.job-overview {
		position: -webkit-sticky;
		position: sticky;
		top: 70px;
	}
}

.job-overview .job-detail ul {
	margin-bottom: 28px;
}

.job-overview .job-detail ul li {
	opacity: 0.75;
	font-weight: 600;
	margin-bottom: 15px;
}

.job-overview .job-detail ul li i {
	font-size: 20px;
	position: relative;
	top: 1px;
}

.job-overview .overview-bottom, .job-overview .overview-top {
	padding: 35px;
}

.job-content ul li {
	font-weight: 600;
	opacity: 0.75;
	border-bottom: 1px solid #ccc;
	padding: 10px 5px;
}

@media ( min-width : 768px) {
	.job-content ul li {
		border-bottom: 0;
		padding: 0;
	}
	
	.job-content{
	width: 75%;
	}
	
	
}

.job-content ul li i {
	font-size: 20px;
	position: relative;
	top: 1px;
}

.mb-30 {
	margin-bottom: 30px;
}